#header {
	color: #FF727A;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 800%;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;

}

#mainblock{
  margin-top: 100px;
  margin-left: 150px;
}

#name {
  font-family: 'Space Mono', monospace;
  font-size: 35px;
}

#about{
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

#slogan {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 10px;
  margin-left: 150px;
}

.heading {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}

#meaning {
  font-size: 15px;
}

#ticks{
  width: 100%;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#item1 , #item2 , #item3, #link1 , #link2 , #link3{
  display: inline-block;
}
#photography_blog{
  height: 266px;
  width: 400px;
  background-image: url(images/blog_2.png)
}

#btfc {
  height: 266px;
  width: 400px;
  background-image: url(images/btfc.png)
}

#senndat{
  height: 266px;
  width: 400px;
  background-image: url(images/senndat.png)
}

#gita{
  margin-left: 10px;
}

#description {
  margin-left: 10px;
}

#links{
  font-family: 'Space Mono', monospace;
  font-size: 23px;
  margin-top: 40px;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 150px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 1370px) { 
  #slogan{
    margin-top: 250px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 962px){ 
  #slogan{
    margin-left: 100px;
  }
  #mainblock{
    margin-left: 100px;
  }
  #links{
    margin-left: 100px;
  }
}

@media only screen and (max-width: 576px){ 
  #slogan{
    margin-left: 60px;
  }
  #mainblock{
    margin-left: 60px;
  }
  #links{
    margin-left: 60px;
  }
}

@media only screen and (max-width: 425px){ 
  #slogan{
    margin-left: 20px;
  }
  #mainblock{
    margin-left: 20px;
  }
  #links{
    margin-left: 20px;
  }
}

@media (max-width: 912px){
  #slogan{
    margin-top: 520px;
  }
}

/* html,body { 
 background: url(images/803.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;

}*/
/*#pos {
	float: left;
	padding-left: 7%;
	padding-right: 5%;
}

#buttons {
	padding-right: 5%;
	padding-left: 5%; 

}

#about-me {
	margin-left: 50px;
	margin-right: 50px;
}
#about-me-text{
	font-size: 25px;
	font-family: 'Raleway' , sans-serif;
	padding-left: 300px;
	padding-top: 10px;
}

#about-me-left {
	width: 250px;
	height: 240px;
	margin-left: 3%;
	margin-top: 2%;
	float: left;
}

#pics {
	width: 100%;
	height: 210px;
	margin: auto;
}

.heads{
	font-size: 60px;
	font-family: 'Raleway' , sans-serif;
	padding-left: 5px;
	padding-top: 5px;

}

#headshot {
	float: left;
	margin-left: 5%;
	margin-top: 0px;
	position: relative;
}

#icons {
	margin: auto;
	max-height: 30px;
	width: 100%;
	position: relative;
	display: inline-block;

}

#social {
	margin-left: 40px;
	height: auto;
	width: auto;
	max-height: 50px;
	max-width: 50px;

}



 #social1, #social2{
	margin-left: 10px;
	height: auto;
	width: auto;
	max-height: 50px;
	max-width: 50px;
}


#top {
	height: 600px;
}

@media only screen and (max-width: 1049px) {
                    #photography {
                      padding-top: 15px;
                    }
     }

@media only screen and (max-width: 1187px) {
                    #about-me-text {
                      height: 320px;
                    }
                    #photography {
                      margin-left: 277px;
                      font-size: 15px;
                      float:left;
                    }
     }

@media only screen and (max-width: 842px) {
                    #photography {
                      padding-top: 30px;
                    }
     }

 @media only screen and (max-width: 905px) {
                    #header{ font-size: 700%;}
                    #about-me-text {
                    	font-size: 22px;}
                    #photography {
                      font-size: 12px;
                      margin-top: -12%;

                    }
     }

 @media only screen and (max-width: 790px) {
                    #header{ 
                    	font-size: 600%;
                    	text-align: center;
                    }
                    #about-me-text {
                    	font-size: 20px;
                    }
                     #photography {
                      font-size: 11px;
                      padding-top: 0px;
                    }
     }

  @media only screen and (max-width: 713px) {
                    #header{ 
                    	font-size: 650%;
                    	text-align: center;
                    }
                    #photography {
                      font-size: 13px;
                      float: left;
                      width: 100%;
                      margin-left: 0px;
                      padding-left: 0px;
                      margin-top: -15%;

                    }
                     #one , #two, #three {
                   	text-align: center;
                   	font-size: 18px;

                   }
                    #about-me-text {
                    	font-size: 20px;
                    	width: 100%;
                      padding-left: 20px;
                      padding-right: 20px;
                      display: inline-block;
                    }
                    #about-me-left {
                    	width: 80%;
                    	display: block;
                    	float: none;
                    	padding-left: 10%;
                    	padding-right: 10%;
                    	margin: 0 auto;
                    	position: relative;
                    }
                    #about-me {
                    	margin: auto;
                    }
                    #headshot {
                    	display: block;
                    	margin: auto;
                    	width: 100%;
                    	float: none;
                    }
                    #icons {
                    	display: block;
                    	margin: auto;                    	
                    	width: 200px;
                    	text-align: left;
                    }
                    #text {
                    	width: 100%;
                    	display: inline-block;
                    }

                    #head  {
                    	text-align: center;
                    }

     }
*/


