#header {
	color: #FF727A;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 800%;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;

}

#mainblock{
  margin-top: 100px;
  margin-left: 150px;
}

#name {
  font-family: 'Space Mono', monospace;
  font-size: 35px;
}

#about{
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

#slogan {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 10px;
  margin-left: 150px;
}

.heading {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}

#meaning {
  font-size: 15px;
}

#ticks{
  width: 100%;
  height: 600px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#item1 , #item2 , #item3, #item4, #link1 , #link2 , #link3{
  display: inline-block;
}

#photography_blog{
  height: 266px;
  width: 400px;
  background-image: url(images/blog_2.png)
}

#btfc {
  height: 266px;
  width: 400px;
  background-image: url(images/btfc.png)
}

#senndat{
  height: 266px;
  width: 400px;
  background-image: url(images/senndat.png)
}

#cookforme{
  height: 266px;
  width: 400px;
  background-image: url(images/pasta.png)
}

#gita{
  margin-left: 10px;
}

#description {
  margin-left: 10px;
}

#links{
  font-family: 'Space Mono', monospace;
  font-size: 23px;
  margin-top: 40px;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 150px;
  margin-bottom: 40px;
}



/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 1370px) { 
  #slogan{
    margin-top: 250px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 983px){ 
  #slogan{
    margin-left: 100px;
  }
  #mainblock{
    margin-left: 100px;
  }
  #links{
    margin-left: 100px;
  }
}

@media only screen and (max-width: 912px){
  #slogan{
    margin-top: 520px;
  }
}

@media only screen and (max-width: 576px){ 
  #slogan{
    margin-left: 60px;
  }
  #mainblock{
    margin-left: 60px;
  }
  #links{
    margin-left: 60px;
  }
}
 
@media only screen and (max-width: 480px){ 
  #slogan{
    margin-left: 20px;
    margin-top: 320px;
  }
  #mainblock{
    margin-left: 20px;
  }
  #links{
    margin-left: 20px;
  }
  #photography_blog{
  height: 200px;
  width: 300px;
  background-image: url(images/blog_small.png)
}

#btfc {
  height: 200px;
  width: 300px;
  background-image: url(images/btfc_small.png)
}

#senndat{
  height: 200px;
  width: 300px;
  background-image: url(images/senndat_small.png)
}

#cookforme{
  height: 200px;
  width: 300px;
  background-image: url(images/pasta_small.png)
}

}
