
.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }
  tittle {
  color: #4285F4
  }
  small {
    font-size: 65%;
    font-weight: 400;
    opacity: .5;
  }
  medium {
    font-size: 85%;
    font-weight: 500;
  }
}
